CSS Document 
* {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}


a{
    text-decoration: none;   
}

li{
    list-style-type: none;
}


i{
    color:white;
    font-size: 1.2em;
}


header{
    margin: 0 auto;
}


nav ul{
    display: flex;
    justify-content: space-between;
    background: #111111;
    margin: 0;
    padding: 1em;
    top: 0;
    left: 0;
    right: 0;
   
}

.fa-user-circle{
    color: #4a90e2;
}

h2{
    color: white;
    position: relative;
    margin-bottom: -0.7em;
    margin-top: 0;
    margin-left: 0.3em;
    position: relative;
}

main article p{
    color: white;
    position: relative;
    margin-left: 0.3em;
     
}

.fa-play-circle{
    color: #ff3746;
    position: relative;
    font-size: 2em;
    background-color: white;
    border-radius: 50%;
    margin-top: 3.6em;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
}

article img{
max-width: 100vw;
position: absolute;
   
}

body{
   background-color: #111111;
   margin: 0;
}

.fa-chevron-right{
    color: #ff3746;
    margin-left: 0.5em;
    
}

section p{
    color: white;
    position: relative;
    margin-left: 0.3em;
}

section ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

section li img{
    width: 7em;
    height: auto;
}


